$red: #7b7bf7;
$blue: #507dbd;


.wrap-fixed {
  position: fixed;
  bottom: 0;
}
.hidden{
  display: none;
}
h1 {
  color: green;
}
.container-fixed{
  padding: 10px;
  background: #7b7bf7;
  display: inline-block;
  border-radius: 0 25px 25px 0;
}

a{
  text-decoration: none;
  padding-left: 5px;
  padding-right: 3px;
  outline: none;

  &.download,
  &.volume{
    padding-left: 10px;
  }

  i{
    color: white;
  }
}
.vol {
  display: inline-block;
  width: 30px;
}
.trackProgress,
.volumeLevel{
  cursor: pointer;
}

.volumeLevel{
  width: 75px;
}

.duration{
  padding-right: 10px;
}

input[type=range] {
  outline: none;
  -webkit-appearance: none;
  border-radius: 8px;
  height: 3px;
  background-color: white;
  position: relative;
  bottom: 4px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: $blue;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  background-color: $blue;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  background-color: $blue;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  cursor: pointer;
}